# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Databases
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
